*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#container{
    width: 90%;
    height: auto;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0rem 0rem .625rem #ccc;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    min-height: 43.75rem;
}
.logo{
    flex-grow: 1;
    flex-basis: 65%;
    padding: .625rem;
    margin-left: 1.25rem;
    color: black;
    text-shadow: .0625rem .0625rem 0rem #ccc;
    text-transform: uppercase;
}
.logo h1{
    font-family: helvetica;
    font-style: italic;
    font-weight: 56.25rem;
    font-size: 2.1875rem;
}