*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#container{
    width: 80%;
    height: auto;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0rem 0rem .625rem #ccc ;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    min-height: 43.75rem;
}