body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#layout{
    display: inline-flex;
    flex-flow: row wrap;

    border:  3px solid black;
    padding: .3125rem;
}

.caja{
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 1.25rem;
    border:.25rem solid #222;
    margin: .625rem;
}

.red{
    background: red;
    width: 250;
}
.green{
    background: green;
}
.blue{
    background: blue;
}
.orange{
    background: orange;
}