*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#container{
    width: 90%;
    height: auto;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0rem 0rem .625rem #ccc ;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    min-height: 43.75rem;
}

#header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    height: 7.5rem;
    border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}

.logo{
    flex-grow: 1;
    flex-basis: 65%;


    padding: .625rem;
    margin-left: 1.25rem;
    color: black;
    text-shadow: .0625rem .0625rem 0rem #ccc ;
    text-transform: uppercase;
}
.logo h1{
    font-family: helvetica;
    font-style: italic;
    font-weight: 56.25rem;
    font-size: 2.1875rem;
}

#menu{
    flex-grow: 1;
    flex-basis: 30%;
    height: 100%;
    padding: 1.25rem;
}

#menu > ul{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    list-style: none;
}
#menu a{
    text-transform: uppercase;
    color:#444;
    padding: .9375rem;
    transition: all 300ms;
}
#menu a:hover{
    background: #ccc;
    color:white;
}